{%extends 'base.html'%}
{%block main_block%}

<h1><center>Dashboard</center></h1>

<div class="container my-2">

    <div class="row">

        <div class="col-4"></div>
        <div class="col-4 ">
          <h3><center>category summary</center></h3>
          <canvas id="myChart"></canvas></div>
        <div class="col-4"></div>


              
    </div>
</div>

{%endblock%}


{%block script_block%}

<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: [{%for i in category_summary%} '{{i.category}}',{%endfor%}],
        datasets: [{
          label: '# of Votes',
          data: [{%for i in category_summary%} '{{i.cat_count}}',{%endfor%}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

</script>    

{%endblock%}