{%extends 'base.html'%}

{%block main_block%}

<h1><center>Expense List</center></h1>

<div class="container my-3">

    
    <h1><center><b>welcome sahla {{requset.user}}</b></center></h1>

    
    <div class="w-50 mx-auto">
        <form action="">
            <select name="category" id="" class="form-select" onchange="this.form.submit()">
                <option value="all" {%if selected == "all" %} selected {%endif%}>all</option>

                <option value="food" {%if selected == "food" %} selected {%endif%}>food</option>
                
                <option value="travel"{%if selected == "travel" %} selected {%endif%}>travel</option>

                <option value="health"{%if selected == "health" %} selected {%endif%}>health</option>

               
            </select>
            
        </form>

       
    </div>

</div>

<div class="container mt-5">

    <div class="row">
        {%for e in expe%}

        <div class="col-4">

            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header d-flex justify-content-between">
                    <div> {{e.user}} </div>
                    <div>{{e.amount}}</div>                    
                        
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{e.title}}</h5>
                    <p class="card-text">{{e.category}}</p>
                </div>
                <div class="card-footer text-body-white">
                    created_date:{{e.created_date | date}}<br>
                    <center>
                        
                    <a class="btn btn-success" href="{% url 'expense_update' e.id %}" role="button">Update</a>
                    <a class="btn btn-success" href="{% url 'expense_delete' e.id %}" role="button">Delete</a>
                    <a class="btn btn-success" href="{%url 'expense_summary' e.id%}" role="button">Summary</a>

                    </center>
                </div>
            </div>

        </div>

        {%endfor%}

    </div>
</div>
    
{%endblock%}
{%block script_block%}
{%endblock%}
